<h2> Home work | Ansible lesson 3  </h2>
<h3> Owner Konstantin Gromov </h3>


Server Host Name : {{ ansible_hostname }} <br>
Sever OS : {{ ansible_os_family }} <br>
IPv4 : {{ ansible_default_ipv4.address  }} <br>
